### Importing required libraries

In [1]:
import numpy as np
import pandas as pd

### Reading Individual_Wind_Forecasts csv file

In [2]:
Individual_Wind_Forecasts = pd.read_csv("C:\\Users\\VASAVI\\Downloads\\Biourja take home assignment dataset.csv")
Individual_Wind_Forecasts

   Plant_Name  Forecast  Capacity
0          E1      45.4       100
1          E2      31.2       150
2          E3       8.5        50
3          E4      88.2       100
4          E5      98.4       150
..        ...       ...       ...
95        S31     145.4       250
96        S32     121.0       150
97        S33     181.6       200
98        S34      25.4        50
99        S35     288.0       350

[100 rows x 3 columns]

In [3]:
def Zone(plant):
    if 'E' in plant:
        return 'East'
    elif 'N' in plant:
        return 'North'
    elif 'S' in plant:
        return 'South'
    else:
        return 'West'

Individual_Wind_Forecasts["Zone"] = Individual_Wind_Forecasts["Plant_Name"].apply(Zone)
Individual_Wind_Forecasts

   Plant_Name  Forecast  Capacity   Zone
0          E1      45.4       100   East
1          E2      31.2       150   East
2          E3       8.5        50   East
3          E4      88.2       100   East
4          E5      98.4       150   East
..        ...       ...       ...    ...
95        S31     145.4       250  South
96        S32     121.0       150  South
97        S33     181.6       200  South
98        S34      25.4        50  South
99        S35     288.0       350  South

[100 rows x 4 columns]

### checking for missing values

In [4]:
Individual_Wind_Forecasts.isnull().sum()

Plant_Name    0
Forecast      0
Capacity      0
Zone          0
dtype: int64

# calculating Redistributed ratios

In [5]:
Individual_Wind_Forecasts["Redistributed_Ratios"] = Individual_Wind_Forecasts["Forecast"]/Individual_Wind_Forecasts["Capacity"]
Individual_Wind_Forecasts

   Plant_Name  Forecast  Capacity   Zone  Redistributed_Ratios
0          E1      45.4       100   East              0.454000
1          E2      31.2       150   East              0.208000
2          E3       8.5        50   East              0.170000
3          E4      88.2       100   East              0.882000
4          E5      98.4       150   East              0.656000
..        ...       ...       ...    ...                   ...
95        S31     145.4       250  South              0.581600
96        S32     121.0       150  South              0.806667
97        S33     181.6       200  South              0.908000
98        S34      25.4        50  South              0.508000
99        S35     288.0       350  South              0.822857

[100 rows x 5 columns]

# calculating redistributed ratios

In [6]:
ZonalForecast = pd.read_csv("C:\\Users\\VASAVI\\OneDrive\\Documents\\Zonal Forecast.csv")
ZonalForecast

    Zone  Zonal_Forecast
0   East            2800
1  North            1500
2   West            2000
3  South            6500

### dividing into 4 different zones dataframes based on zones

In [7]:
df = Individual_Wind_Forecasts.groupby('Zone')
for Zone,Zone_df in df:
    print(Zone)
    print(Zone_df)

East
   Plant_Name  Forecast  Capacity  Zone  Redistributed_Ratios
0          E1      45.4       100  East              0.454000
1          E2      31.2       150  East              0.208000
2          E3       8.5        50  East              0.170000
3          E4      88.2       100  East              0.882000
4          E5      98.4       150  East              0.656000
5          E6     238.5       300  East              0.795000
6          E7      66.8       100  East              0.668000
7          E8     115.4       150  East              0.769333
8          E9      74.0       100  East              0.740000
9         E10     156.8       200  East              0.784000
10        E11     167.9       200  East              0.839500
11        E12     259.5       500  East              0.519000
12        E13      79.8       100  East              0.798000
13        E14      20.9       100  East              0.209000
14        E15     358.4       400  East              0.896000
15        E16      69.8       100  East              0.698000
16        E17      23.4       100  East              0.234000
17        E18       5.6        50  East              0.112000
18        E19     144.5       150  East              0.963333
19        E20     132.8       150  East              0.885333
20        E21      48.7        50  East              0.974000
21        E22       9.7        50  East              0.194000
22        E23      57.6       100  East              0.576000
23        E24     128.6       150  East              0.857333
North
   Plant_Name  Forecast  Capacity   Zone  Redistributed_Ratios
24         N1     168.5       200  North              0.842500
25         N2     148.9       400  North              0.372250
26         N3     188.0       500  North              0.376000
27         N4      27.8       100  North              0.278000
28         N5      56.9       200  North              0.284500
29         N6     101.6       150  North              0.677333
30         N7     228.0       400  North              0.570000
31         N8       7.5        50  North              0.150000
32         N9     175.0       200  North              0.875000
33        N10     221.4       250  North              0.885600
34        N11      37.8       300  North              0.126000
35        N12      29.4       250  North              0.117600
36        N13     164.6       250  North              0.658400
37        N14     205.4       250  North              0.821600
38        N15      78.4       150  North              0.522667
39        N16      64.3       100  North              0.643000
40        N17      51.4       100  North              0.514000
41        N18      88.6       100  North              0.886000
42        N19      44.5       100  North              0.445000
43        N20     128.6       150  North              0.857333
44        N21     135.4       250  North              0.541600
45        N22     222.6       350  North              0.636000
46        N23     301.5       500  North              0.603000
47        N24       5.9        50  North              0.118000
48        N25      28.4        50  North              0.568000
49        N26     324.0       400  North              0.810000
South
   Plant_Name  Forecast  Capacity   Zone  Redistributed_Ratios
65         S1     109.8       150  South              0.732000
66         S2     125.9       150  South              0.839333
67         S3     207.6       350  South              0.593143
68         S4      67.8       100  South              0.678000
69         S5      18.8        50  South              0.376000
70         S6     340.5       350  South              0.972857
71         S7      69.8       100  South              0.698000
72         S8      24.6        50  South              0.492000
73         S9       6.2        50  South              0.124000
74        S10     166.2       200  South              0.831000
75        S11     159.4       200  South              0.797000
76        S12      60.9       100  South              0.609000
77        S13      12.6        50  South              0.252000
78        S14      77.8       150  South              0.518667
79        S15     180.0       200  South              0.900000
80        S16     244.3       250  South              0.977200
81        S17     223.4       500  South              0.446800
82        S18     291.4       400  South              0.728500
83        S19      44.5       100  South              0.445000
84        S20      93.9       100  South              0.939000
85        S21     172.7       200  South              0.863500
86        S22     399.0       400  South              0.997500
87        S23      13.5        50  South              0.270000
88        S24     323.8       500  South              0.647600
89        S25     420.7       600  South              0.701167
90        S26      73.7       100  South              0.737000
91        S27      58.8       400  South              0.147000
92        S28     337.4       350  South              0.964000
93        S29     431.3       450  South              0.958444
94        S30     168.6       300  South              0.562000
95        S31     145.4       250  South              0.581600
96        S32     121.0       150  South              0.806667
97        S33     181.6       200  South              0.908000
98        S34      25.4        50  South              0.508000
99        S35     288.0       350  South              0.822857
West
   Plant_Name  Forecast  Capacity  Zone  Redistributed_Ratios
50         W1     221.6       250  West              0.886400
51         W2      77.6       100  West              0.776000
52         W3      86.6       150  West              0.577333
53         W4      94.8       150  West              0.632000
54         W5      99.0       200  West              0.495000
55         W6      47.6       100  West              0.476000
56         W7      11.4       100  West              0.114000
57         W8       9.4        50  West              0.188000
58         W9      35.0       150  West              0.233333
59        W10      35.3       100  West              0.353000
60        W11      44.3       150  West              0.295333
61        W12     119.3       200  West              0.596500
62        W13      36.7        50  West              0.734000
63        W14      69.2       150  West              0.461333
64        W15      48.1       200  West              0.240500

### East Zone dataset

In [8]:
df_East = df.get_group("East")
df_East.head()

  Plant_Name  Forecast  Capacity  Zone  Redistributed_Ratios
0         E1      45.4       100  East                 0.454
1         E2      31.2       150  East                 0.208
2         E3       8.5        50  East                 0.170
3         E4      88.2       100  East                 0.882
4         E5      98.4       150  East                 0.656

### West zone dataset

In [9]:
df_West = df.get_group("West")
df_West.head()

   Plant_Name  Forecast  Capacity  Zone  Redistributed_Ratios
50         W1     221.6       250  West              0.886400
51         W2      77.6       100  West              0.776000
52         W3      86.6       150  West              0.577333
53         W4      94.8       150  West              0.632000
54         W5      99.0       200  West              0.495000

### North zone dataset

In [10]:
df_North = df.get_group("North")
df_North.head()

   Plant_Name  Forecast  Capacity   Zone  Redistributed_Ratios
24         N1     168.5       200  North               0.84250
25         N2     148.9       400  North               0.37225
26         N3     188.0       500  North               0.37600
27         N4      27.8       100  North               0.27800
28         N5      56.9       200  North               0.28450

### South zone dataset

In [11]:
df_South = df.get_group("South")
df_South.head()

   Plant_Name  Forecast  Capacity   Zone  Redistributed_Ratios
65         S1     109.8       150  South              0.732000
66         S2     125.9       150  South              0.839333
67         S3     207.6       350  South              0.593143
68         S4      67.8       100  South              0.678000
69         S5      18.8        50  South              0.376000

In [12]:
# Create a DataFrame to store the redistributed power output

redistributed_forecasts = Individual_Wind_Forecasts.copy()

In [13]:
# Calculate the total individual forecast for each zone

zone_forecast_totals = {}
for zone in ['East', 'West', 'North', 'South']:
    zone_forecast_totals[zone] = Individual_Wind_Forecasts[Individual_Wind_Forecasts['Zone']== zone]['Forecast'].sum()

In [14]:
zone_forecast_totals.items()

dict_items([('East', 2430.3999999999996), ('West', 1035.8999999999999), ('North', 3234.4), ('South', 5686.299999999999)])

## Calculating ratio for each zone

### East Zonal Redistribution Ratio

In [15]:
East_Zonal_Ratio = ZonalForecast[ZonalForecast['Zone'] == 'East']['Zonal_Forecast'] / zone_forecast_totals['East']
East_Zonal_Ratio

0    1.152074
Name: Zonal_Forecast, dtype: float64

### West Zonal Redistribution Ratio

In [16]:
West_Zonal_Ratio = ZonalForecast[ZonalForecast['Zone'] == 'West']['Zonal_Forecast'] / zone_forecast_totals['West']
West_Zonal_Ratio

2    1.930688
Name: Zonal_Forecast, dtype: float64

### North Zonal Redistribution Ratio

In [17]:
North_Zonal_Ratio = ZonalForecast[ZonalForecast['Zone'] == 'North']['Zonal_Forecast'] / zone_forecast_totals['North']
North_Zonal_Ratio

1    0.463765
Name: Zonal_Forecast, dtype: float64

### South Zonal Redistribution Ratio

In [18]:
South_Zonal_Ratio = ZonalForecast[ZonalForecast['Zone'] == 'South']['Zonal_Forecast'] / zone_forecast_totals['South']
South_Zonal_Ratio

3    1.143098
Name: Zonal_Forecast, dtype: float64

### conactenating into a single series

In [19]:
Zonal_Ratios = pd.concat([East_Zonal_Ratio,North_Zonal_Ratio,West_Zonal_Ratio,South_Zonal_Ratio])
Zonal_Ratios

0    1.152074
1    0.463765
2    1.930688
3    1.143098
Name: Zonal_Forecast, dtype: float64

### Redistributed output power for Each wind frame in East Zone

In [20]:
df_East['Redistribution output'] = df_East['Forecast'] * Zonal_Ratios[0]
df_East.head()

<ipython-input-20-df4d4a44fd97>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_East['Redistribution output'] = df_East['Forecast'] * Zonal_Ratios[0]

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
0,E1,45.4,100,East,0.454,52.304147
1,E2,31.2,150,East,0.208,35.944700
2,E3,8.5,50,East,0.170,9.792627
3,E4,88.2,100,East,0.882,101.612903
4,E5,98.4,150,East,0.656,113.364055

### Redistributed output power for Each wind frame in West Zone

In [21]:
df_West['Redistribution output'] = df_West['Forecast'] * Zonal_Ratios[2]
df_West.head()

<ipython-input-21-691c4b1e2e40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_West['Redistribution output'] = df_West['Forecast'] * Zonal_Ratios[2]

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
50,W1,221.6,250,West,0.886400,427.840525
51,W2,77.6,100,West,0.776000,149.821411
52,W3,86.6,150,West,0.577333,167.197606
53,W4,94.8,150,West,0.632000,183.029250
54,W5,99.0,200,West,0.495000,191.138141

### Redistributed output power for Each wind frame in North Zone

In [22]:
df_North['Redistribution output'] = df_North['Forecast'] * Zonal_Ratios[1]
df_North.head()

<ipython-input-22-417b548d76ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_North['Redistribution output'] = df_North['Forecast'] * Zonal_Ratios[1]

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
24,N1,168.5,200,North,0.84250,78.144324
25,N2,148.9,400,North,0.37225,69.054539
26,N3,188.0,500,North,0.37600,87.187732
27,N4,27.8,100,North,0.27800,12.892654
28,N5,56.9,200,North,0.28450,26.388202

### Redistributed output power for Each wind frame in South Zone

In [23]:
df_South['Redistribution output'] = df_South['Forecast'] * Zonal_Ratios[3]
df_South.head()

<ipython-input-23-01161be544a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_South['Redistribution output'] = df_South['Forecast'] * Zonal_Ratios[3]

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
65,S1,109.8,150,South,0.732000,125.512196
66,S2,125.9,150,South,0.839333,143.916079
67,S3,207.6,350,South,0.593143,237.307212
68,S4,67.8,100,South,0.678000,77.502066
69,S5,18.8,50,South,0.376000,21.490248

### Concatenating all the datasets

In [24]:
output = pd.concat([df_East,df_North,df_West,df_South])
output

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
0,E1,45.4,100,East,0.454000,52.304147
1,E2,31.2,150,East,0.208000,35.944700
2,E3,8.5,50,East,0.170000,9.792627
3,E4,88.2,100,East,0.882000,101.612903
4,E5,98.4,150,East,0.656000,113.364055
...,...,...,...,...,...,...
95,S31,145.4,250,South,0.581600,166.206496
96,S32,121.0,150,South,0.806667,138.314897
97,S33,181.6,200,South,0.908000,207.586656
98,S34,25.4,50,South,0.508000,29.034697
99,S35,288.0,350,South,0.822857,329.212317

### This output data frame does not ensure max capacity>Redistribution output condition to some wind farms

# wind farms which exceeds capacity

In [25]:
mask = output['Capacity'] < output['Redistribution output']

# Now, you can use the sum() function to count the number of True values in the mask
num_rows_with_capacity_less_than_output = mask.sum()
num_rows_with_capacity_less_than_output

19

In [26]:
windfarms_with_capacity_less_than_output = output[mask]
windfarms_with_capacity_less_than_output

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
3,E4,88.2,100,East,0.882000,101.612903
14,E15,358.4,400,East,0.896000,412.903226
18,E19,144.5,150,East,0.963333,166.474654
19,E20,132.8,150,East,0.885333,152.995392
20,E21,48.7,50,East,0.974000,56.105991
50,W1,221.6,250,West,0.886400,427.840525
51,W2,77.6,100,West,0.776000,149.821411
52,W3,86.6,150,West,0.577333,167.197606
53,W4,94.8,150,West,0.632000,183.029250
61,W12,119.3,200,West,0.596500,230.331113
62,W13,36.7,50,West,0.734000,70.856260
70,S6,340.5,350,South,0.972857,389.224979
79,S15,180.0,200,South,0.900000,205.757698
80,S16,244.3,250,South,0.977200,279.258921
84,S20,93.9,100,South,0.939000,107.336933
86,S22,399.0,400,South,0.997500,456.096231
92,S28,337.4,350,South,0.964000,385.681375
93,S29,431.3,450,South,0.958444,493.018307
97,S33,181.6,200,South,0.908000,207.586656

## checking the constraints
### 1.Each geographic regional/zonal level output should be in the ratio of regional/zonal level forecast (since regional forecast quality is better than individual forecasts) summing up to the total of state level forecast.

In [27]:
print(df_North['Redistribution output'].sum())

1499.9999999999998

In [28]:
print(df_East['Redistribution output'].sum())

2800.0000000000005

In [29]:
print(df_West['Redistribution output'].sum())

2000.0000000000005

In [30]:
print(df_South['Redistribution output'].sum())

6500.0

In [31]:
output_copy = output.copy()

### removing wind farms rows which exceeds capacity

In [36]:
output = output.drop(output[mask].index)
output

<ipython-input-36-6ebaa9326367>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  output = output.drop(output[mask].index)

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
0,E1,45.4,100,East,0.454000,52.304147
1,E2,31.2,150,East,0.208000,35.944700
2,E3,8.5,50,East,0.170000,9.792627
4,E5,98.4,150,East,0.656000,113.364055
5,E6,238.5,300,East,0.795000,274.769585
...,...,...,...,...,...,...
94,S30,168.6,300,South,0.562000,192.726377
95,S31,145.4,250,South,0.581600,166.206496
96,S32,121.0,150,South,0.806667,138.314897
98,S34,25.4,50,South,0.508000,29.034697
99,S35,288.0,350,South,0.822857,329.212317

### adjust the redistributed output for those wind farms to match their capacity if it exceeds the capacity. This can be done by simply setting the redistributed output equal to the capacity for those rows.

In [37]:
mask = output_copy['Redistribution output'] > output_copy['Capacity']

# Set RedistributedOutput to Capacity for rows where it exceeds Capacity
output_copy.loc[mask, 'Redistribution output'] = output_copy.loc[mask, 'Capacity']
output_copy

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
0,E1,45.4,100,East,0.454000,52.304147
1,E2,31.2,150,East,0.208000,35.944700
2,E3,8.5,50,East,0.170000,9.792627
3,E4,88.2,100,East,0.882000,100.000000
4,E5,98.4,150,East,0.656000,113.364055
...,...,...,...,...,...,...
95,S31,145.4,250,South,0.581600,166.206496
96,S32,121.0,150,South,0.806667,138.314897
97,S33,181.6,200,South,0.908000,200.000000
98,S34,25.4,50,South,0.508000,29.034697
99,S35,288.0,350,South,0.822857,329.212317

In [38]:
Final_Redistribution_power = output_copy
Final_Redistribution_power
# this is data ensures all the constraints

,Plant_Name,Forecast,Capacity,Zone,Redistributed_Ratios,Redistribution output
0,E1,45.4,100,East,0.454000,52.304147
1,E2,31.2,150,East,0.208000,35.944700
2,E3,8.5,50,East,0.170000,9.792627
3,E4,88.2,100,East,0.882000,100.000000
4,E5,98.4,150,East,0.656000,113.364055
...,...,...,...,...,...,...
95,S31,145.4,250,South,0.581600,166.206496
96,S32,121.0,150,South,0.806667,138.314897
97,S33,181.6,200,South,0.908000,200.000000
98,S34,25.4,50,South,0.508000,29.034697
99,S35,288.0,350,South,0.822857,329.212317

## To write a Final_Redistribution_power  to a CSV file

In [39]:
Final_Redistribution_power.to_csv('Final_Redistribution_power.csv', index=False)